<table>
    <tr>
        <th>Task number</th>
        <th>Task name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Pipes / Directives</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Parent and Child Component</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Forms</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Services</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Observables and Promises</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Life Cycle Hooks</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Routing</td>
    </tr>
</table>