<div class="card">
    <div class="card-header">
        <h6>Component 1</h6>
    </div>
    <div class="card-body">
        <p>Entered Username: {{username}}</p>
        <section class="row mt-2">
            <div class="col-md-4">
                <button class="btn btn-warning" (click)="subscribeToStream()">Subscribe</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger" (click)="unsubscribeToStream()">Unsubscribe</button>
            </div>
        </section>
    </div>
</div>