<!-- <input type="text" pInputText class="p-inputtext" /> <br><br> -->
<br>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText class="p-inputtext"> 
    <label for="float-input">Username</label>
</span>

<h5>Left Icon</h5>
<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" class="p-inputtext" placeholder="Search" />
</span>

<h5>Right Icon</h5>
<span class="p-input-icon-right">
    <i class="pi pi-spin pi-spinner"></i>
    <input type="text" class="p-inputtext" />
</span>
    
<h5>Mask input</h5>
<div class="field col-8">
    <label id="number" for="lastname">Number</label> &nbsp;
    <p-inputMask inputId="number" mask="9999-9999-9999-9999"></p-inputMask>
</div>
<!-- <p-inputNumber></p-inputNumber> -->