<app-card>
  <h3 header>Prime ng components</h3>
  <div style="display: flex; flex-wrap: wrap;">
    <button class="btn btn-primary" routerLink="textbox">Text Box</button>
    <button class="btn btn-primary" routerLink="dropdown">Drop Down</button>
    <button class="btn btn-primary" routerLink="books">Table</button>
    <button class="btn btn-primary" routerLink="pagination">Pagination</button>
    <button class="btn btn-primary" routerLink="picklist">Picklist</button>
  </div>
  <hr>
  <router-outlet></router-outlet>
</app-card>