<button class="btn btn-warning" (click)="loginBtn()">Log In</button> &nbsp;
<button class="btn btn-danger" (click)="logoutBtn()">Log Out</button>
<br><br>
<div style="display: flex; flex-wrap: wrap;">
    <button class="btn btn-primary" routerLink="home">Home</button> &nbsp;
    <button class="btn btn-primary" routerLink="pipes">Pipes</button> &nbsp;
    <button class="btn btn-primary" routerLink="ParentChild">Parent and Child</button> &nbsp;
    <button class="btn btn-primary" routerLink="formsTask">Forms</button> &nbsp;
    <button class="btn btn-primary" routerLink="services">Services</button> &nbsp;
    <button class="btn btn-primary" routerLink="observables">Observables</button> &nbsp;
    <button class="btn btn-primary" routerLink="lifecyclehooks">Life Cycle Hooks</button> &nbsp;
    <button class="btn btn-primary" routerLink="primeng">Prime NG</button> &nbsp;
    <button class="btn btn-primary" routerLink="droplist">Drop List</button> &nbsp;
    <button class="btn btn-primary" routerLink="gptdrag">Drop List GPT</button> &nbsp;
    <!-- for routing 2 child routing -->
    <button class="btn btn-primary" routerLink="friends">Friends</button> &nbsp;
    <button class="btn btn-primary" routerLink="settings">Setting</button> &nbsp;
</div>
<hr>
<router-outlet></router-outlet>